<app-admin></app-admin>
<div *ngIf="loading" class="has-text-centered is-size-3">Procesando información ...</div>
<mat-card>
  <mat-card-title>Registrar Partido</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="saveGame(form)" autocomplete="off">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Equipo A</mat-label>
          <mat-select [formControlName]="'teamA'">
            <mat-option *ngFor="let food of teams" [value]="food.id">
              {{food.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Equipo B</mat-label>
          <mat-select [formControlName]="'teamB'">
            <mat-option *ngFor="let food of teams" [value]="food.id">
              {{food.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <input [formControlName]="'dateInitial'" matInput type="datetime-local" placeholder="start date">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Guardar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<br>
<br>
<mat-card>
  <mat-card-title>Partidos en curso / por jugar</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="games" class="mat-elevation-z8 demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="teamA">
        <th mat-header-cell *matHeaderCellDef> Equipo A </th>
        <td mat-cell *matCellDef="let element"> {{element.teamA}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="teamB">
        <th mat-header-cell *matHeaderCellDef> Equipo B </th>
        <td mat-cell *matCellDef="let element"> {{element.teamB}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="dateInitial">
        <th mat-header-cell *matHeaderCellDef> Hora Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.dateInitial}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="dateFinal">
        <th mat-header-cell *matHeaderCellDef> Hora Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.dateFinal}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="resultScore">
        <th mat-header-cell *matHeaderCellDef> Resultado </th>
        <td mat-cell *matCellDef="let element"> <strong> {{element.resultScore}} </strong> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>
    </table>
  </mat-card-content>
</mat-card>

<br>
<br>
<mat-card>
  <mat-card-title>Partidos finalizados</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="gameFinish" class="mat-elevation-z8 demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="teamA">
        <th mat-header-cell *matHeaderCellDef> Equipo A </th>
        <td mat-cell *matCellDef="let element"> {{element.teamA}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="teamB">
        <th mat-header-cell *matHeaderCellDef> Equipo B </th>
        <td mat-cell *matCellDef="let element"> {{element.teamB}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="dateInitial">
        <th mat-header-cell *matHeaderCellDef> Hora Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.dateInitial}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="dateFinal">
        <th mat-header-cell *matHeaderCellDef> Hora Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.dateFinal}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="resultScore">
        <th mat-header-cell *matHeaderCellDef> Resultado </th>
        <td mat-cell *matCellDef="let element"> <strong> {{element.resultScore}} </strong> </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>